Flask==3.0.2
Flask-SQLAlchemy==3.1.1
mysqlclient==2.2.4
python-dotenv==1.0.1
Werkzeug==3.0.1
scapy==2.5.0
pyfiglet==1.0.2
tqdm==4.66.2
requests==2.32.3
pandas==2.2.3
midtransclient==1.4.2
python-nginx==1.5.3
gunicorn==21.2.0
flask-cors==3.0.10