body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(237, 167, 14, 0.9), rgba(240, 117, 8, 0.9)),
    url("../img/background.jpg");
  background-size: cover;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Logo di kiri atas */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 150px;
}

/* Card */
.card {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-body {
  text-align: left;
}

/* Title */
.title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 90px;
  text-align: center;
}

#userEmail {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Change email link */
.change-email {
  color: orange;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.change-email:hover {
  color: #ff7800;
}

/* Input password */
.input-password {
  margin-bottom: 15px;
}

.input-password:hover {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

.input-password:focus {
  outline: none;
  border-bottom: 3px solid orange;
}

/* Reset button */
.reset-button {
  background: linear-gradient(to right, #ffc700, #ff9100);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.405);
  transition: all 0.5 linear;
}

.reset-button:hover {
  background: linear-gradient(to right, #ffb300, #ff7800);
}

/* Back link */
.back-link {
  font-weight: 500;
  color: black;
  text-decoration: none;
  transition: color 0.1s linear;
}

.back-link:hover {
  color: orange;
}

/* Copyright */
.copyright {
  font-size: 1em;
  margin-top: 20px;
  text-align: center;
}